
h1 {
    text-align: center;
    color: cornflowerblue;
  }
img{
  width: 900px;
  height: 900px;
  
}

.footer{
  height: 50px;
  margin-top: 50px;
  background-color: grey;
  color: white;
  text-align: center;
}
  